# =========================
# ROS 2 / colcon
# =========================
build/
install/
log/

# =========================
# CMake
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/

# =========================
# IDEs / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Data / temp
# =========================
*.csv
*.log
